{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/catalog.css">

<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>{{ name_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for elem in list_products %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div style="background-image: url('static/img/products/' + elem[3] + elem[2]) no-repeat center; background-size: cover; transition: all 0.3s;" class="single-product">
                        <div class="part-1">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">{{elem[0]}}</h3>
                            <h4 class="product-price">{{elem[1]}}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}